@import "../variables/_variables.scss";

.single-country {
  margin: 4rem 16rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  .btn {
    align-self: flex-start;
    padding: 1.3rem 3rem;

    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: $textColor;
    background-color: $darkBlue;
    text-decoration: none;
  }
  article {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    .flag {
      width: 100%;
      height: auto;
      min-width: 400px;
      height: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .country-inner {
      display: flex;
      flex-direction: column;
      padding: 8rem;
      gap: 4rem;
      .country-details {
        display: flex;
        justify-content: space-between;
        gap: 8rem;
        line-height: 2rem;
        h2 {
          color: $textColor;
          font-size: 2.8rem;
          margin-bottom: 1rem;
          line-height: 3rem;
        }
        h5 {
          color: $textColor;
          font-size: 1.4rem;
          span {
            margin-left: 0.6rem;
            color: rgba(255, 255, 255, 0.5);
          }
        }
        .top-level {
          display: flex;
          justify-content: center;
          flex-direction: column;

          text-align: start;
        }
      }
      .border-details {
        display: flex;
        color: $textColor;
        ul {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          list-style: none;
          margin-left: 1rem;

          li {
            padding: 0.8rem 1.6rem;
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            color: rgba(255, 255, 255, 0.5);
            background-color: $darkBlue;
          }
        }
      }
    }
  }
}
