@import "../variables/_variables.scss";

.single-country {
  padding: 2rem 2rem 4rem 4rem;
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  @media (max-width: 768px) {
    padding: 2rem;
    gap: 3rem;
  }
  .btn {
    align-self: flex-start;
    padding: 1.3rem 3rem;

    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: $textColor;
    background-color: $darkBlue;
    text-decoration: none;
  }
  article {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .flag {
      width: 100%;
      height: auto;
      min-width: 300px;
      height: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .country-inner {
      display: flex;
      flex-direction: column;
      padding: 8rem 4rem;
      gap: 4rem;
      @media (max-width: 768px) {
        gap: 2rem;
        padding: 2rem 4rem;
      }
      .country-details {
        display: flex;
        justify-content: space-between;
        gap: 8rem;
        line-height: 2rem;
        @media (max-width: 768px) {
          gap: 2rem;
        }
        .details {
          h2 {
            color: $textColor;
            font-size: 2.8rem;
            margin-bottom: 1rem;
            line-height: 3rem;
          }
          h5 {
            color: $textColor;
            font-size: 1.4rem;
            span {
              margin-left: 0.6rem;
              color: rgba(255, 255, 255, 0.5);
            }
          }
          &.light-theme h5 {
            color: $lightModeText;
          }
          &.light-theme h5 span {
            color: $lighModeInput;
          }
        }
        .top-level {
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: start;
          h5 {
            color: $textColor;
          }
          h5 span {
            color: rgba(255, 255, 255, 0.5);
          }

          &.light-theme h5 {
            color: $lightModeText;
          }
          &.light-theme h5 span {
            color: rgba(133, 27, 27, 0.5);
          }
        }
      }
      @media (max-width: 768px) {
        flex-direction: column;
        padding: 2rem;
      }
    }
    .border-details {
      display: flex;
      color: $textColor;
      h3 {
        font-size: 1.8rem;
      }
      @media (max-width: 768px) {
        flex-direction: column;
      }
      ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin-left: 1rem;
        @media (max-width: 768px) {
          display: flex;
          margin-top: 1rem;
          margin-bottom: 1rem;
          text-align: center;
        }
        li {
          padding: 0.8rem 1.6rem;
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          color: rgba(255, 255, 255, 0.5);
          background-color: $darkBlue;
        }
        &.light-theme {
          background-color: $lightModeBackground;
          color: $lightModeText;
        }
      }
    }
  }
}
