@import "../variables/_variables.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $navBackgroundColor;
}
.title {
  margin-left: 8rem;
}
.dark-mode {
  margin-right: 8rem;
}
